html {
  font-size: 16px;
  line-height: 1.4;
  color: #606060;
  background-color: #F3F5F5;
  font-family: 'Noto Sans', sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #4c4c4c;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #4c4c4c;
}

a {
  text-decoration: none;
  color: #4A90E2;
}

main {
  width: 100%;
}

.header-positioning {
  position: absolute;
  top: 50px;
}

/*Header, Navigation*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
  height: 64px;
  padding: 0px 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-bold {
  font-weight: 900;
}

.logo-light {
  font-weight: 300;
}

.logo-img {
  height: 2rem;
}

nav a {
  text-decoration: none;
  color: #4A4A4A;
}

.desktop ul {
  display: flex;
}

.desktop li {
  margin-left: 16px;
  padding-right: 35px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 640px) {
  .logo-bold {
    display: none;
  }

  .logo-light {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  header {
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: #F3F5F5e;
    border-bottom: 1px solid #D8D8D8;
  }
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    width: 75%;
    justify-content: space-around;
  }

  .logo {
    width: 25%;
    justify-content: center;
  }
}

/*Banner, Sign-Up Section*/

.banner {
  display: flex;
  padding: 32px 24px;
  background-color: #D8D8D8;
}

.banner .img-container {
  width: 60%;
  margin-right: 40px;
}

.banner .img-container img {
  max-width: 100%;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 275px;
  max-width: 32%;
}

.register h2 {
  font-weight: 900;
}

.register h3 {
  margin-top: 2rem;
}

.button {
  margin-top: 2rem;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #353535;

}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #7c7b7b;
  transition: background-color 100ms ease-in 25ms;
}

@media only screen and (max-width: 640px) {
  .banner {
    flex-direction: column;
    padding: 0;
  }

  .banner .img-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 180px;
    overflow: hidden;
  }

  .register {
    padding: 32px 16px;
    margin: 0;
    width: auto;
    max-width: 100%;
  }

  .register h3 {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .button {
    margin: 0;
    background-color: #353535;
    font-weight: 800;
    font-size: 1.5rem;
  }

  .button:hover {
    background-color: #7c7b7b;
    transition: background-color 100ms ease-in 25ms;
  }
}

@media only screen and (max-width: 480px) {
  .banner {
    padding-top: 65px;
  }

  .button {
    margin: 0;
    background-color: #353535;
    font-weight: 800;
    font-size: 1.5rem;
  }

  .button:hover {
    background-color: #7c7b7b;
    transition: background-color 100ms ease-in 25ms;
  }
}

/*Schedule, Information*/

.information {
  padding: 32px 0 32px 24px;
  display: flex;
}

.mainfeature {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.mainfeature .img-container {
  width: 100%;
}

.mainfeature .img-container img {
  max-width: 100%;
}

.headerquote {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headerquote h2 {
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: bolder;
}

.headerquote p {
  margin-bottom: 32px;
}

.headerquote span {
  font-size: 0.75rem;
  color: #050505;
}

.highlights-container {
  width: 423px;
  max-width: 32%;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.highlight {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
}

.highlight:hover {
  background-color: #F3F5F5;
  transition: background-color 400ms ease-in 50ms;
}

.thumbnail {
  min-width: 35%;
  max-width: 35%;
  margin-right: 16px;
}

.thumbnail img {
  width: 100%;
}

.thumbnail-mobile {
  display: none;
}

.highlight .description p {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1024px) {
  .highlights-container {
    max-width: 30%;
  }
}

@media only screen and (max-width: 640px) {
  .information {
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }

  .mainfeature {
    display: none;
  }

  .thumbnail {
    display: none;
  }

  .thumbnail-mobile {
    display: block;
    margin-bottom: 16px;
  }

  .highlights-container {
    max-width: 100%;
    width: 100%;
    padding: 16px;
    border: 0;
    margin: 0;
  }

  .highlight {
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 16px;
  }

  .highlight:hover {
    background-color: #F3F5F5;
    transition: background-color 400ms ease-in 50ms;
  }

  .highlight .description {
    padding-left: 16px;
  }

  .highlight .thumbnail-mobile {
    width: 100%;
  }

  .highlight .thumbnail-mobile img {
    width: 100%;
  }
}


.courses {
  padding: 32px 24px;
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.courses h2 {
  margin-bottom: 16px;
}

.courses h3 {
  font-weight: 800;
}

.courses-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.course-container {
  width: 25%;
  margin: 16px 16px;
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .course-container {
    width: 40%;
  }
}

.course-header {
  width: 100%;
  /* height: 220px - Im not sure how this is supposed to work, but spec has this height set to 200px */
}

.course-header .image-container {
  max-width: 100%;
}

.course-header .image-container img {
  max-width: 100%;
}

.course-header h3 {
  margin: 16px 16px 0 16px;
}

.course-header p {
  text-transform: uppercase;
  margin: 8px 16px;
}

.course-container > p {
  margin: 0 16px 24px 16px;
}

@media only screen and (max-width: 480px) {
  .course-header .image-container {
    display: none;
  }

  .courses-gallery {
    flex-flow: column nowrap;
    padding-top: 16px;
  }

  .courses {
    padding: 32px 16px 24px 16px;
    background-color: #F3F5F5;
  }

  .course-container {
    width: auto;
    padding: 16px;
    margin: 0;
    margin-bottom: 8px;
    background-color: #D8D8D8;
  }

  .course-header h3 {
    margin: 0;
    padding: 0;
  }

  .course-container p {
    display: none;
  }
}

/* Thesis */
.thesis-exhibit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 32px 24px;
}

.exhibits {
  margin-top: 32px;
  display: flex;
}

.main-thesis {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 60%;
}

.video-container {
  width: 100%;
  margin-bottom: 24px;
}

.video-container video {
  width: 100%;
}

.main-thesis h3 {
  margin-bottom: 24px;
}

.thesis-container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.thesis {
  max-width: 423px;
  max-height: 168px;
  display: flex;
  align-items: center;
  padding: 16px;
}

.thesis:hover {
  background-color: #D8D8D8;
  transition: background-color 400ms linear 50ms;
}

.thesis .img-container {
  max-width: 35%;
  min-width: 35%;
  margin-right: 16px;
}

.thesis .img-container img {
  width: 100%;
}

.thesis-desc h3 {
  margin-bottom: 8px;
}

@media only screen and (max-width: 640px) {
  .thesis-container {
    display: none;
  }

  .thesis-exhibit {
    border-top: 1px solid #D8D8D8;
    padding: 32px 0px;
  }

  .main-thesis {
    width: 100%;
  }

  .main-thesis h3 {
    display: none;
  }

  .main-thesis p {
    display: none;
  }

  .video-container {
    margin: 0;
  }
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 48px 24px;
  border-top: 1px solid #D8D8D8;
  font-size: 0.75rem;
}

.footer ul {
  display: flex;
}

.footer li {
  margin-left: 0.75rem;
}

@media only screen and (max-width: 480px) {
  footer {
    padding: 32px 16px 16px 16px;
  }

  .footer {
    display: none;
  }
}
